@model LayoutViewModel
@{
    Model.Title = "Contact - MvcSolution.com | complete code architecture for ASP.NET MVC projects";
}

<div class="panel">
    <div class="panel-title">
        Contact me
    </div>
    <div class="panel-content">
        <p>
            Feel free to contact me: <a href="mailto:leo.tsai.2015@qq.com">leo.tsai.2015@qq.com</a>
        </p>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $("#navContact").addClass("selected");
    });
</script>