@model LayoutViewModel
@{
    Model.Title = "Documentation - MvcSolution.com | complete code architecture for ASP.NET MVC projects";
}

<div class="panel">
    <div class="panel-title">
        Documentation
    </div>
    <div class="panel-content">
        <p>
            中文版请参考：<a target="_blank" href="http://www.cnblogs.com/leotsai/p/mvcsolution-doc.html">http://www.cnblogs.com/leotsai/p/mvcsolution-doc.html</a>
        </p>
        <p>&nbsp;</p>
        <p>
            English version: <a target="_blank" href="https://github.com/leotsai/mvcsolution">https://github.com/leotsai/mvcsolution</a>
        </p>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $("#navDoc").addClass("selected");
    });
</script>