@model LayoutViewModel

<h1>MvcSolution Home</h1>
<p>
    <strong>Source Code: </strong>
    <a href="https://github.com/leotsai/mvcsolution">https://github.com/leotsai/mvcsolution</a>
</p>
<h3>The register feature is implemented.</h3>
<p>
    <a class="btn" href="/register">Register</a>
</p>
<h3>The login feature is implemented.</h3>
<p>
    <a class="btn" href="/login">Login</a>
</p>