@model LayoutViewModel
@if (Model.User != null)
{
    <ul id="menu">
        @if (Model.User.IsSuperAdmin())
        {
            <li>
                <a href="/admin/" class="menu-more">Admin</a>
                <ul>
                    <li><a href="/admin/user">管理用户</a></li>
                    <li><a href="/admin/winservice/">Windows服务管理</a></li>
                    <li><a href="/admin/analysis" >留存统计</a></li>
                    <li><a href="/admin/analysis/platforms">平台统计</a></li>
                    <li class="more">
                        <a>haha</a>
                        <ul>
                            <li><a>asdas</a></li>
                            <li><a>asdas</a></li>
                            <li><a>asdas</a></li>
                            <li><a>asdas</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/user">用户管理</a>
            </li>
            <li id="navSetting"><a href="/admin/setting">系统设置</a></li>
        }
        else
        {
            <li><a href="/admin/login">登陆</a></li>
        }
    </ul>
}
else
{
    <ul id="menu">
        <li id="navUsers">
            <a href="/admin/login">登陆</a>
        </li>
    </ul>
}