@model MvcSolution.Web.Admin.ViewModels.AnalysisViewModel 
@{
    Model.Title = "用户留存统计";
}

<h1>@Model.Title</h1>
<script src="~/js/google/chart.js"></script>
<script src="~/js/_gen/pages/admin/analysis/index.js"></script>
<div class="group">
    <form id="formSearch" action="/admin/analysis/search" method="POST" class="label-inline ">
        @Html.TimeFrameSelector()
        <div id="timeframeFromTo" class="hide">
            <label>从：</label>
            <input type="text" class="date field_text-xs date-from" name="from"/>
            <label>到：</label>
            <input type="text" class="date field_text-xs date-to" name="to"/>
        </div>
        @Html.DropDownList("platform", Model.Platforms, new{id="ddlPlatforms"})
        @Html.DropDownList("frequency", Model.Frequencies, new{id="ddlFrequncies"})
        <a class="btn" id="btnReport">生成报表</a>
    </form>
</div>
<div class="group">
    <div id="report" style="height: 500px;">
    </div>
</div>
<div class="group">
    <table class="data">
        <thead>
            <tr>
                <th>类型</th>
                <th>合计</th>
                <th>平均</th>
                <th>最小</th>
                <th>最大</th>
            </tr>
        </thead>
        <tbody id="summary">
            
        </tbody>
    </table>
</div>
