################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcSolution.Infrastructure/bin
/MvcSolution.Infrastructure/obj
/MvcSolution.Services/bin
/MvcSolution.Services/obj/Debug
/MvcSolution.Services/obj/Release
/MvcSolution.Web/bin
/MvcSolution.Web/obj/Debug
/MvcSolution.Web/obj/Release
/MvcSolution.Web.Main
/MvcSolution._Areas/Admin/MvcSolution.Services.Admin/bin
/MvcSolution._Areas/Admin/MvcSolution.Services.Admin/obj/Debug
/MvcSolution._Areas/Admin/MvcSolution.Services.Admin/obj/Release
/MvcSolution._Areas/Admin/MvcSolution.Web.Admin/bin
/MvcSolution._Areas/Admin/MvcSolution.Web.Admin/obj/Debug
/MvcSolution._Areas/Admin/MvcSolution.Web.Admin/obj/Release
/MvcSolution._Areas/Public/MvcSolution.Services.Public/bin
/MvcSolution._Areas/Public/MvcSolution.Services.Public/obj/Debug
/MvcSolution._Areas/Public/MvcSolution.Services.Public/obj/Release
/MvcSolution._Areas/Public/MvcSolution.Web.Public/bin
/MvcSolution._Areas/Public/MvcSolution.Web.Public/obj/Debug
/MvcSolution._Areas/Public/MvcSolution.Web.Public/obj/Release
/MvcSolution._Tests/MvcSolution.UnitTests/bin
/MvcSolution._Tests/MvcSolution.UnitTests/obj/Debug
/MvcSolution._Tests/MvcSolution.UnitTests/obj/Release
/MvcSolution.Data/bin
/MvcSolution.Data/obj/Debug
/MvcSolution.Data/obj/Release
/.vs
