/MvcSolution.Infrastructure/bin
/MvcSolution.Data/bin
/MvcSolution.Services/bin
/MvcSolution.Web/bin
/MvcSolution.Web.Main/bin
/MvcSolution._Areas/Admin/MvcSolution.Services.Admin/bin
/MvcSolution._Areas/Admin/MvcSolution.Web.Admin/bin
/MvcSolution._Areas/Api/MvcSolution.Services.Api/bin
/MvcSolution._Areas/Api/MvcSolution.Web.Api/bin
/MvcSolution._Areas/Public/MvcSolution.Services.Public/bin
/MvcSolution._Areas/Public/MvcSolution.Web.Public/bin
/MvcSolution._Tests/MvcSolution.UnitTestBase/bin
/MvcSolution._Tests/MvcSolution.UnitTests.Services/bin
/MvcSolution.Infrastructure/obj
/MvcSolution.Data/obj
/MvcSolution.Services/obj
/MvcSolution.Web/obj
/MvcSolution.Web.Main/obj
/MvcSolution._Areas/Admin/MvcSolution.Services.Admin/obj
/MvcSolution._Areas/Admin/MvcSolution.Web.Admin/obj
/MvcSolution._Areas/Api/MvcSolution.Services.Api/obj
/MvcSolution._Areas/Api/MvcSolution.Web.Api/obj
/MvcSolution._Areas/Public/MvcSolution.Services.Public/obj
/MvcSolution._Areas/Public/MvcSolution.Web.Public/obj
/MvcSolution._Tests/MvcSolution.UnitTestBase/obj
/MvcSolution._Tests/MvcSolution.UnitTests.Services/obj
*.DotSettings
*.user
*.suo
*.loog