body
{
    background-color: #ffffff;
    font-size: 13px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ios-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input,textarea,select {
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}
a,a:link,.ui-widget-content a {
    color: #2cabe0;
}
a:link.btn,
.ui-widget-content a.btn {
    color: #ffffff;
}
a:hover
{
    color: #3E97EF;
    text-decoration: none;
}
a:active
{
    color: #3E97EF;
}



#mainNav ul {
    margin: 0px;
    padding: 0px;
}
#mainNav li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul#menu>li,
ul#loginStatus>li {
    position: relative;
    float: left;
}

ul#menu>li:hover,
ul#loginStatus>li:hover {
    background-color: #2B474C;
}
ul#menu>li>a,
ul#loginStatus>li>a {
    color: #C4EFFF;
    display: block;
    font-weight: bold;
    line-height: 47px;
    padding: 0 25px;
    text-decoration: none;
}
ul#menu>li>a {
    border-right: 1px solid #222222;
}
ul#menu>li {
    border-right: 1px solid #444444;
}
ul#menu > li:first-child > a {
    border-left: 1px solid #444444;
}
ul#menu > li:first-child {
    border-left: 1px solid #222222;
}
ul#loginStatus>li>a {
    border-left: 1px solid #222222;
}
ul#loginStatus>li {
    border-left: 1px solid #444444;
}
ul#loginStatus>li:last-child>a {
    border-right: 1px solid #444444;
}
ul#loginStatus>li:last-child {
    border-right: 1px solid #222222;
}
ul#menu > li > ul li.active {
    background-color: #1594C6;
}
ul#menu > li > ul li.active a {
    color: #ffffff;
}

ul#menu>li ul,
ul#loginStatus>li ul {
    display: none;
    position: absolute;
    background-color: #1C3338;
    width: 200px;
    border-top: 0px;
    left: -1px;
}
ul#loginStatus>li ul {
    left: 0px;
    width: 180px;
}
ul#menu>li ul li:hover,
ul#loginStatus>li ul li:hover {
    background-color: #112123;
}
ul#menu>li ul li a,
ul#loginStatus>li ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 7px 10px;
    border-bottom: 1px solid #13272B;
    line-height: 22px;
    color: #2F8799;
}
ul#menu > li > ul > li,
ul#loginStatus > li > ul > li {
    border-bottom: 1px solid #264449;
}
ul#menu>li.active>a,
ul#loginStatus>li.active>a {
    background-color: #2CABE0;
}
ul#menu>li:hover > ul,
ul#loginStatus>li:hover > ul {
    display: block;
    z-index: 1;
}
ul#menu > li > ul > li {
    position: relative;
}
ul#menu > li > ul > li.more {
    background-image: url("images/arrow-right-b.png");
    background-repeat: no-repeat;
    background-position: right center;
}
ul#menu > li > ul > li > ul {
    width: 150px;
    right: -150px;
    top: 0px;
    background-color: #1B2220;
    left: auto;
}
ul#menu > li#navReport > ul > li > ul {
    width: 180px;
    right: -180px;
}
ul#menu > li > ul > li:hover > ul {
    display: block;
}
li#navTasks a.team,
li#navTasks a.user {
    background-image: url("images/user-team.png");
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: 3px 14px;
}
li#navTasks a.user {
    background-position: 3px -20px;
}

div.login-name {
    padding: 8px 15px;
}
.login-name a{
    color: #C4EFFF;
    font-weight: bold;
    text-decoration: none;
}
#mainNav {
    background-color: #333333;
}
#main {
    margin: 0px;
    background-color: #ffffff;
    padding: 15px;
    padding-bottom: 80px;
}
.main-w1 {
    
}
.header-w1 {
    background: url(images/bg-grid.png);
    height: 25px;
    line-height: 25px;
    text-align: right;
    padding-right: 15px;
}
.header-w2 {
    position: relative;
    height: 80px;
}
#mainNav 
{
    
}
#wrapper.public .section-inner{
    width: 1130px;
    margin: 0 auto;
}
#wrapper.public #currentProject {
    left: 0px;
}

#userStatus {
    position: absolute;
    right: 0;
    top: 0;
}
    #userStatus ul {
        background-color: #D0D0D0;
        border-radius: 0 0 0 5px;
        padding: 5px 10px;
        margin: 0px;
    }
    #userStatus ul li {
        float: left;
        list-style: none outside none;
        padding: 0 10px;
    }
a#systemTime {
    position: absolute;
    display: block;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}
#loggedInUserName {
    position: relative;
}
#loggedInUserName .notification,
#navNotification .notification {
    background-color: #FF8300;
    border: 2px solid #F4F4F4;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 4px;
    position: absolute;
    right: 0;
    top: -5px;
}
#navNotification {
    position: relative;
}
#navNotification > a .notification {
    top: 5px;
    right: 5px;
}

#footer {
    background-color: #666666;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
}
    #footer ul {
        margin: 0px;
        padding: 0px;
        margin-left: -25px;
    }
    #footer ul li {
        list-style: none;
        float: left;
        margin-left: 25px;
    }



html,body {	height:100%; }
#wrapper { min-height: 100%; position: relative; }
#footer { 
	position: absolute; bottom: 0; left: 0; width: 100%; 
	height: 60px; 
}