body {
    font-size: 14px;
    font-family: Helvetica, Arial,  sans-serif,"宋体";
    margin: 0px;
}
#header {
    background: url("images/bg-grid.png");
    height: 100px;
    position: relative;
}
    #header #logo {
        display: block;
        line-height: 55px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0 15px;
        font-size: 22px;
        font-family: "黑体";
        font-weight: bold;
        text-decoration: none;
    }
    #header #loginStatus {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #loginStatus .logout {
        color: red;
    }
#mainNav {
    background-color: #333333;
    width: 100%;
    height: 45px;
    overflow: visible;
    bottom: 0px;
    left: 0px;
    position: absolute;
}
    ul#menu {
        margin: 0px;
        padding: 0px;
    }
    ul#menu > li {
        float: left;
        border-right: 1px solid #444444;
        padding: 0px;
        margin: 0px;
        list-style: none;
        position: relative;
    }
    ul#menu > li:hover {
        background-color: #2B474C;
    }
    ul#menu > li.selected {
        background-color: #2CABE0;
    }
    ul#menu > li > a {
        display: block;
        border-right: 1px solid #222222;
        line-height: 45px;
        text-align: center;
        padding: 0 30px;
        color: #C4EFFF;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
    }
    ul#menu > li > a.menu-more {
        background-image: url("images/menu-more.png");
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 25px;
    }
    ul#menu > li > ul {
        display: none;
        margin: 0px;
        padding: 0px;
        position: absolute;
        left: 0px;
        background-color: #1C3338;
    }
        ul#menu > li > ul  li {
            list-style: none;
            position: relative;
            border-bottom: 1px solid #264449;
        }
        ul#menu > li ul {
            padding: 0px;
            margin: 0px;
        }
        ul#menu > li > ul a {
            line-height: 22px;
            color: #2F8799;
            display: block;
            text-decoration: none;
            cursor: pointer;
            padding: 7px 10px;
            border-bottom: 1px solid #13272B;
            -moz-min-width: 150px;
            -ms-min-width: 150px;
            -o-min-width: 150px;
            -webkit-min-width: 150px;
            min-width: 150px;
        }

ul#menu > li > ul > li a {
            border-bottom: 1px solid #13272B;
        }
        ul#menu > li > ul > li:hover {
            background-color: #112123;
        }
        ul#menu > li:hover > ul {
            display: block;
        }
            ul#menu > li > ul > li > ul {
                display: none;
                position: absolute;
                width: 180px;
                right: -180px;
                top: 0px;
                background-color: #1B2220;
            }
            ul#menu > li > ul > li:hover > ul {
                display: block;
            }
            ul#menu > li > ul > li.more {
                background-image: url("images/arrow-right-b.png");
                background-repeat: no-repeat;
                background-position: right center;
            }
            ul#menu > li > ul > li > ul > li:hover {
                background-color: #264449;
            }
#main {
    padding: 25px 15px;
    padding-bottom: 85px;
}
#footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}

html,body {	height:100%; }
#wrapper { min-height: 100%; position: relative;}
#main { padding-bottom: 85px;}
#footer { 
	position: absolute; bottom: 0; left: 0; width: 100%; 
	height: 60px; 
}

/******************************/
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
} 
.group {
    margin-bottom: 12px;
}
.panel {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #dddddd;
}
    .panel .panel-title {
        background-color: #f0f0f0;
        font-weight: bold;
        font-size: 15px;
        padding-left: 15px;
        line-height: 45px;
        border-bottom: 1px solid #dddddd;
    }
    .panel .panel-content {
        padding: 15px;
    }
.txt {
    border: 1px solid #dddddd;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 0px 5px;
    height: 33px;
    line-height: 33px;
    width: 200px;
}
textarea {
    border: 1px solid #dddddd;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 5px;
    width: 200px;
    height: 80px;
}
textarea.full {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.date {
    text-align: center;
    width: 100px;
}
a {
    color: #19d2b1;
}
select {
    border: 1px solid #dddddd;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 5px;
    width: 150px;
}
.btn {
    display: inline-block;
    line-height: 36px;
    text-align: center;
    padding: 0 25px;
    background-color: #008B8B;
    color: #ffffff;
    border: none;
    cursor: pointer;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}
.btn:hover {
    background-color: #019B8B;
}
.error {
    background-color: lightyellow;
    border: 1px solid #dddddd;
    color: red;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.top {
    vertical-align: top;
}
.required {
    color: red;
}
.line-tip {
    display: inline-block;
    padding-left: 25px;
    color: #888888;
}
h1 {
    color: #666666;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.relative {
    position: relative;
}
h1 a.pin-right {
    position: absolute;
    right: 0px;
    bottom: 2px;
    font-size: 14px;
    font-weight: normal;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
    table.grid th {
        background-color: #f0f0f0;
        border: 1px solid #dddddd;
        padding: 12px 6px;
    }
    table.grid td {
        border: 1px solid #dddddd;
        padding: 12px 6px;
        line-height: 20px;
    }
    table.grid td.empty {
        line-height: 100px;
        text-align: center;
        font-size: 14px;
        color: darkred;
    }
    table.grid td.loading {
        line-height: 100px;
        text-align: center;
        color: #a0a0a0;
    }
    table.data td {
        border: 1px solid #d0d0d0;
        color: #666666;
        padding: 8px;
    }
    table td.label {
        background-color: #f4f4f4;
    }
    table.form td {
        padding-bottom: 10px;
    }
dl {
    
}
    dl dt {
        border-bottom: 1px dotted #dddddd;
        font-size: 14px;
        color: #808080;
        line-height: 18px;
    }
    dl dd {
        color: #808080;
        margin: 0px;
        margin-bottom: 10px;
        line-height: 18px;
        font-size: 13px;
        padding: 0px;
    }
.hide {
    display: none;
}
.float-r {
    float: right;
}
.btn-delete {
    color: red;
}
.money {
    color: #ff4500;
}
.captcha img {
    border: 1px solid #dddddd;
    -ms-border-radius: 5px;
    border-radius: 5px;
    vertical-align: bottom;
}
    .captcha a {
        line-height: 50px;
        vertical-align: bottom;
        display: inline-block;
        padding-left: 10px;
    }
.pager {
    overflow: hidden;
    padding: 10px 0;
}
    .pager ul {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        float: right;
    }
    .pager li {
        float: left;
        margin-left: 10px;
        list-style: none;
        padding: 0px;
    }
    .pager li a {
        display: block;
        text-align: center;
        line-height: 30px;
        border: 1px solid #eeeeee;
        padding: 0 15px;
        background-color: #ffffff;
        text-decoration: none;
    }
    .pager a.refresh {
        display: inline-block;
        text-align: center;
        line-height: 30px;
        border: 1px solid #eeeeee;
        padding: 0 15px;
        background-color: #ffffff;
        text-decoration: none;
    }
    .pager li.disabled a {
        color: #aaaaaa;
        cursor: default;
    }
    .pager .busy {
        line-height: 30px;
    }
/*******************************/
/***file upload****************************/
.fileupload {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url("images/modal.png");
    width: 100%;
    min-height: 100%;
}
.file-dialog {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -66px;
    background-color: #fff;
}
.file-close {
    display: block;
    line-height: 35px;
    width: 50px;
    text-align: center;
    background-color: pink;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.file-title {
    line-height: 35px;
    background-color: #dddddd;
    padding-left: 12px;
    font-weight: bold;
}
.file-content {
    padding: 12px;
}
.file-content h4 {
    padding: 10px 0;
    text-align: center;
    color: #666;
    font-weight: normal;
    font-size: 14px;
}
.progress {
    width: 190px;
    height: 14px;
    border: 1px solid #dddddd;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.progress-value {
    height: 14px;
    background: url("images/progressing.gif") no-repeat;
    width: 3%;
}
.fileupload.frame .progress {
    border: 0px;
}
.fileupload.frame .progress-value {
    width: 100%;
}
div.btn-upload {
    width: 100px;
    height: 36px;
    overflow: hidden;
    position: relative;
    background-color: #eeeeee;
    text-align: center;
}
    div.btn-upload:hover {
        background-color: #dddddd;
    }
    div.btn-upload input {
        -ms-opacity: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        font: 200px monospace!important;
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

div.btn-upload span {
        
    }
/**********************************/
/*** scheduler ******************************/
.scheduler {
    border: 1px solid #dddddd;
    margin: 15px 0;
}
    .scheduler-title {
        background-color: #f4f4f4;
        font-weight: bold;
        font-size: 15px;
        padding-left: 12px;
        line-height: 36px;
    }
    .scheduler-content {
        padding: 15px 50px;
        position: relative;
    }
        .scheduler-content .btn-left,
        .scheduler-content .btn-right {
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -20px;
            background-image: url("images/arrows.png");
            background-repeat: no-repeat;
        }
        .scheduler-content .btn-left {
            
        }
        .scheduler-content .btn-right {
            right: 5px;
            left: auto;
            background-position: -50px 0;
        }
        .scheduler-content .btn-left.disabled {
            background-position: 0 -49px;
        }
        .scheduler-content .btn-right.disabled {
            background-position: -50px -49px;
        }
    .scheduler-container {
        overflow: hidden;
        border: 1px solid #dddddd;
        height: 320px;
        position: relative;
    }
    .scheduler-container ul {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    .scheduler-container li {
        list-style: none;
        padding: 0px;
    }
    .scheduler-container table {
        overflow: hidden;
        position: absolute;
        width: auto;
        border-collapse: collapse;
    }
        .scheduler-container table td {
            width: 200px;
            border: 1px solid #dddddd;
            vertical-align: top;
            padding: 1px;
        }
        .scheduler-container td.weekend .date{
            background-color: #ffd0de;
        }
    .scheduler-item {
        text-align: center;
    }
    .scheduler-item .date {
        background-color: #f0f0f0;
        font-weight: bold;
        width: auto;
        line-height: 40px;
    }
    .today .scheduler-item .date{
        color: red;
    }
    .scheduler-item li {
        padding: 10px;
        margin: 0px;
    }
    .scheduler-item .btn-schedule {
        color: #008b8b;
        text-decoration: none;
    }
    .scheduler-item a {
        display: block;
        line-height: 30px;
        border: 1px solid #dddddd;
    }
    .scheduler-item a.btn-add {
        text-decoration: none;
        color: #19d2b1;
    }
    .scheduler-item .schedule-none a{
        background-color: #FFFDC7;
        color: #333333;
    }
    .scheduler-item .schedule-awaitingpayment a {
        background-color: #4BBEFF;
        color: #ffffff;
    }
    .scheduler-item .schedule-awaitingcompanyconfirm a {
        background-color: red;
        color: #ffffff;
    }
    .scheduler-item .schedule-booked a {
        background-color: green;
        color: #ffffff;
    }

/*******************************************/