@model LayoutViewModel

<h1>MVCSolution Home</h1>
<p>
    <strong>Source Code: </strong>
    <a href="http://mvcsolution.codeplex.com">http://mvcsolution.codeplex.com</a>
</p>
<h3>The register feature is implemented.</h3>
<p>
    <a class="btn" href="/register">Register</a>
</p>
<h3>The login feature is implemented.</h3>
<p>
    <a class="btn" href="/login">Login</a>
</p>