td h4 {
    margin: 0 0 5px 0;
}
td p {
    margin: 0px;
    color: #aaaaaa;
}
.task-Running {
    color: #00CC00;
}
.task-Starting {
    color: #0099FF;
}
.task-Busy {
    color: red;
}
.task-Stopping {
    color: #333333;
}
.task-Stopped {
    color: #aaaaaa;
}
.task-AwaitExecuting {
    color: #FF6600;
}
.task-version-warning {
    color: red;
}
