@model LayoutViewModel
<ul id="mainMenu" class="menu clearfix">
    <li id="navHome"><a href="/">Home</a></li>
    <li id="navDoc"><a href="/home/doc">Documentation</a></li>
    <li id="navSource"><a href="/home/source">Get The Source Code</a></li>
    <li id="navContact"><a href="/home/contact">Contact Me</a></li>
</ul>

@if (Request.IsAuthenticated)
{
    <ul id="loginStatus" class="menu clearfix">
        <li id="navMe"><a href="javascript:;">@Model.GetSession().User.NickName</a></li>
        <li id="navLogout"><a href="/logout">Logout</a></li>
    </ul>
}
else
{
    <ul id="loginStatus" class="menu clearfix">
        <li id="navLogin"><a href="/login">Login</a></li>
        <li id="navRegister"><a href="/register">Register</a></li>
    </ul>
}