@model LayoutViewModel<string>
{ 
    Model.Title = "Server Message";
}
<div class="panel">
    <div class="panel-title">
        @Model.Title
    </div>
    <div class="panel-content">
        @Model.Model
    </div>    
</div>
