@model MvcSolution.Web.Admin.ViewModels.UserViewModel
@{
    Model.Title = "管理用户";
}
<script src="~/js/_gen/pages/admin/users/management.js"></script>
<h1>
    @Model.Title
    <a id="btnCreate" class="btn pin-right" href="/user/create">新增</a>
</h1>

<div class="group">
    <form id="formSearch" action="/user/search" method="POST">
        @if (Model.User.IsSuperAdmin())
        {
            @Html.DropDownList("departmentId", Model.Departments)
        }
        @Html.DropDownList("role", Model.Roles)
        <input type="text" class="field_text-s" name="name" placeholder="姓名" />
        <a id="btnSearch" class="btn">搜索</a>
    </form>
</div>
<div class="group">
    <div id="result">
        
    </div>
</div>